<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.address %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= student.mobile %>
  </p>

   <p>
    <strong>Aadhar:</strong>
    <%= student.aadhar %>
  </p>

</div>
